# Drop Unneeded Columns and Transform Data to Numeric. 
## THIS IS THE LARGE SET.

The purpose of this notebook is to drop unneeded columns and to standardize data types to numeric. </br></br>
Outputs: </br>
**FEVS5year4.csv** contains numeric columns with no NaNs in the numeric values. There are NaN values only in the two string columns: 'agency_id' and 'StayorGo'. Use this CSV do feature anlaysis in Yellowbrick.</br>

In [1]:
#load libraries 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from scipy import stats
sns.set(style="ticks", color_codes=True)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# 1. Read 2016 to 2020 FEVS survey data as Dataframes.

In [2]:
# need to give the path of these file on you own
df2016 = pd.read_csv('Standardized_Columns_fevs_2016_prdf.csv', low_memory=False)
df2017 = pd.read_csv('Standardized_Columns_fevs_2017_prdf.csv', low_memory=False)
df2018 = pd.read_csv('Standardized_Columns_fevs_2018_prdf.csv', low_memory=False)
df2019 = pd.read_csv('Standardized_Columns_fevs_2019_prdf.csv', low_memory=False)
df2020 = pd.read_csv('Standardized_Columns_fevs_2020_prdf.csv', low_memory=False)

In [3]:
#find cols' names in a dataframe: 
for col in df2020.columns:
    print(col)

response_id
year
random
agency_id
Q102
Q103
Q104
Q105
Q106
Q107
Q108
Q109
Q110
Q111
Q112
Q113
Q114
Q115
Q116
Q117
Q118
Q119
Q120
Q121
Q122
Q123
Q124
Q125
Q126
Q127
Q128
Q129
Q130
Q131
Q132
Q133
Q134
Q135
Q136
Q137
Q138
Q139
Q140
Q141
Q142
Q143
Q144
Q145
Q146
Q147
Q148
Q149
Q150
Q151
Q152
Q153
Q154
Q155
Q156
Q157
Q158
Q159
Q160
Q161
Q162
Q163
Q164
Q165
Q166
Q167
Q168
Q169
Q170
Q171
Q172
Q173
Q174
Q175
Q176
Q177
Q178
Q179
Q180
Q181
Q182
Q183
Q184
Q185
Q186
Q187
Q188
Q189
Q190
Q191
Q192
Q193
Q194
Q195
Q196
Q197
Q198
Q199
Q200
Q201
Q202
Q203
Q204
Q205
Q206
Q207
Q208
Q209
Q210
Q211
Q212
Q213
Q214
Q215
Q216
Q217
Q218
Q219
Q220
Q221
Q222
Q223
Q224
Q225
Q226
Q227
Q228
Q229
Q230
Q231
Q232
Q233
Q234
Q235
Q236
Q237
Q238
Q239
Q240
Q241
Q242
Q243
Q244
Q245
Q246
Q247
Q248
Q249
Q250
Q251
Q252
Q253
Q254
Q255
Q256
Q257
Q258
Q259
Q260
Q261
Q262
Q263
Q264
Q265
Q266
Q267
Q268
Q269
Q270
Q271
Q272
Q273
Q274
Q275
Q276
Q277
Q278
Q279
Q280
Q281
Q282
Q283
Q284
Q285
StayorGo

# 2. Combine 5 years of FEVS survey data into one dataframe.

call the new file FEVS5year

In [4]:
# combine 5 years of survey data into one datafram
frames = [df2016, df2017, df2018, df2019, df2020]
FEVS5year= pd.concat(frames)

In [5]:
FEVS5year.head()

,response_id,year,agency_id,Q234,Q226,Q228,Q225,Q236,Q237,Q102,...,Q277,Q278,Q279,Q280,Q281,Q282,Q283,Q284,Q285,StayorGo
0,2016000002,2016,TR,TR93,A,B,B,A,A,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
1,2016000003,2016,AF,AF1C,A,A,B,B,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
2,2016000004,2016,TR,TRAD,A,A,B,B,A,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
3,2016000005,2016,TR,TR93,A,A,B,B,D,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Retire
4,2016000006,2016,HE,HE09,B,B,B,B,A,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay

In [6]:
FEVS5year.tail()

,response_id,year,agency_id,Q234,Q226,Q228,Q225,Q236,Q237,Q102,...,Q277,Q278,Q279,Q280,Q281,Q282,Q283,Q284,Q285,StayorGo
624795,2020624797,2020,HS,NaN,A,B,B,A,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transfer
624796,2020624798,2020,HS,NaN,A,A,B,A,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
624797,2020624799,2020,HS,NaN,A,B,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transfer
624798,2020624800,2020,HS,NaN,A,B,A,B,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Retire
624799,2020624801,2020,HS,NaN,B,B,A,B,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay

In [7]:
#check the number of numeric variables; expect 94
FEVS5year.describe()

,response_id,year,Q102,Q238,Q103,Q104,Q239,Q105,Q240,Q241,...,Q275,Q276,Q277,Q278,Q279,Q280,Q281,Q282,Q283,Q284
count,2.732092e+06,2.732092e+06,2.716803e+06,2.094127e+06,2.699711e+06,2.714021e+06,2.090605e+06,2.713057e+06,2.096759e+06,2.098584e+06,...,324309.000000,324309.000000,324309.000000,324309.000000,324309.000000,324309.000000,324309.000000,324309.000000,324309.000000,579912.000000
mean,2.018486e+09,2.018206e+03,3.710247e+00,3.756616e+00,3.626316e+00,3.892961e+00,4.165207e+00,4.039856e+00,4.585513e+00,4.390788e+00,...,0.482854,0.213605,0.484149,0.690659,0.303741,0.252528,0.449423,0.123768,0.257742,3.616830
std,1.414725e+06,1.368376e+00,1.118916e+00,1.015602e+00,1.194728e+00,1.075541e+00,9.005743e-01,9.545277e-01,6.487026e-01,7.205188e-01,...,0.499707,0.409852,0.499749,0.462223,0.459873,0.434463,0.497436,0.329317,0.437392,0.690771
min,2.016000e+09,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.017275e+09,2.017000e+03,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,2.018472e+09,2.018000e+03,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,2.019557e+09,2.019000e+03,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,4.000000
max,2.020625e+09,2.020000e+03,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

### 94 out of 189 columns are numeric

In [8]:
# determine the number of NaN cases in Stay or Go
print(FEVS5year['StayorGo'].unique())
FEVS5year['StayorGo'].value_counts(dropna=False)

['Stay' 'Retire' 'Transfer' nan 'Leave']

Stay        1736122
Transfer     442466
Retire       278698
NaN          176148
Leave         98658
Name: StayorGo, dtype: int64

In [9]:
#total cases
all_records = 1736122+442466+278698+176148+98658
print("all_records =",all_records)

all_records = 2732092

In [10]:
#Percentage of NaN in StayorGo
NaN = 176148
print("NaN =",NaN / all_records)

NaN = 0.06447367072558317

In [11]:
#Percentage of Leave in StayorGo
Leave = 98658
print ("Leave =", Leave / all_records)

Leave = 0.036110789826989724

In [12]:
#Percentage of total Not_Stay in StayorGo
Stay = 1736122
Transfer = 442466
Retire = 278698
any_not_stay = 442466+278698+98658
print("Stay =", Stay / all_records)
print("Transfer =", Transfer /all_records)
print("Retire =", Retire / all_records)
print("Leave =", Leave / all_records)
print("NaN =", NaN / all_records)
print("--")
print("Stay =", Stay / all_records)
print("any_not_stay =", any_not_stay/all_records)
print("NaN =", NaN / all_records)

Stay = 0.6354551750087479
Transfer = 0.1619513544931869
Retire = 0.10200900994549232
Leave = 0.036110789826989724
NaN = 0.06447367072558317
--
Stay = 0.6354551750087479
any_not_stay = 0.30007115426566894
NaN = 0.06447367072558317

## 3. Drop 29 columns we do not need. Create Intermediate FEVS5year2:

In [13]:
FEVS5year2 = FEVS5year.drop(columns=['response_id','random','Q140','Q141','Q142','Q143','Q144','Q145','Q146','Q147','Q148','Q230','Q231','Q232','Q234','Q237','Q272','Q273','Q274','Q275','Q276','Q277','Q278','Q279','Q280','Q281','Q282','Q283','Q285'], errors='raise')
FEVS5year2

,year,agency_id,Q226,Q228,Q225,Q236,Q102,Q238,Q103,Q104,...,Q220,Q221,Q222,Q223,Q224,Q227,Q229,Q235,Q284,StayorGo
0,2016,TR,A,B,B,A,5.0,4.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
1,2016,AF,A,A,B,B,NaN,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
2,2016,TR,A,A,B,B,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
3,2016,TR,A,A,B,B,3.0,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Retire
4,2016,HE,B,B,B,B,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624795,2020,HS,A,B,B,A,5.0,NaN,5.0,4.0,...,X,X,C,B,B,B,B,NaN,NaN,Transfer
624796,2020,HS,A,A,B,A,5.0,NaN,5.0,4.0,...,3,4,A,B,B,B,NaN,NaN,NaN,Stay
624797,2020,HS,A,B,NaN,NaN,4.0,NaN,2.0,3.0,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transfer
624798,2020,HS,A,B,A,B,4.0,NaN,3.0,4.0,...,X,4,B,A,B,A,B,NaN,NaN,Retire
624799,2020,HS,B,B,A,B,4.0,NaN,5.0,5.0,...,1,3,B,A,B,A,B,NaN,NaN,Stay

### 2.7M Rows  160 columns confirmed in FEVS5year2. How many are numeric?
Expect: 71

In [14]:
FEVS5year2.describe()

,year,Q102,Q238,Q103,Q104,Q239,Q105,Q240,Q241,Q110,...,Q211,Q212,Q213,Q214,Q215,Q216,Q217,Q218,Q219,Q284
count,2.732092e+06,2.716803e+06,2.094127e+06,2.699711e+06,2.714021e+06,2.090605e+06,2.713057e+06,2.096759e+06,2.098584e+06,2.722479e+06,...,591907.000000,591907.000000,591907.000000,591907.000000,590013.000000,590013.000000,590013.000000,590013.000000,590013.000000,579912.000000
mean,2.018206e+03,3.710247e+00,3.756616e+00,3.626316e+00,3.892961e+00,4.165207e+00,4.039856e+00,4.585513e+00,4.390788e+00,4.015080e+00,...,0.113536,0.108948,0.130453,0.210161,0.817123,0.085830,0.055382,0.040491,0.032767,3.616830
std,1.368376e+00,1.118916e+00,1.015602e+00,1.194728e+00,1.075541e+00,9.005743e-01,9.545277e-01,6.487026e-01,7.205188e-01,9.897640e-01,...,0.317248,0.311574,0.336801,0.407423,0.386566,0.280114,0.228724,0.197107,0.178027,0.690771
min,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.017000e+03,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,2.018000e+03,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,4.000000e+00,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,2.019000e+03,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000
max,2.020000e+03,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

### Answer: 71

## 4. Transform the demographic variables to categorical variables. Expect 174.

In [28]:
FEVS5year3 = pd.get_dummies(FEVS5year2, columns = ['Q222', 'Q223', 'Q224', 'Q225','Q226', 'Q227', 'Q228', 'Q229', 'Q235', 'Q236'])
print(FEVS5year3)

        year agency_id  Q102  Q238  Q103  Q104  Q239  Q105  Q240  Q241  ...  \
0       2016        TR   5.0   4.0   2.0   4.0   5.0   4.0   NaN   4.0  ...
1       2016        AF   NaN   3.0   3.0   3.0   1.0   NaN   5.0   5.0  ...
2       2016        TR   5.0   5.0   5.0   5.0   5.0   4.0   4.0   4.0  ...
3       2016        TR   3.0   4.0   4.0   4.0   4.0   4.0   4.0   4.0  ...
4       2016        HE   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0  ...
...      ...       ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
624795  2020        HS   5.0   NaN   5.0   4.0   NaN   4.0   NaN   NaN  ...
624796  2020        HS   5.0   NaN   5.0   4.0   NaN   4.0   NaN   NaN  ...
624797  2020        HS   4.0   NaN   2.0   3.0   NaN   4.0   NaN   NaN  ...
624798  2020        HS   4.0   NaN   3.0   4.0   NaN   4.0   NaN   NaN  ...
624799  2020        HS   4.0   NaN   5.0   5.0   NaN   5.0   NaN   NaN  ...

       Q227_C Q228_A Q228_B Q229_A Q229_B Q235_A Q235_B Q235_C Q236_A Q236_B
0           0      0      1      0      0      0      0      0      1      0
1           0      1      0      0      0      0      0      0      0      1
2           0      1      0      0      0      0      0      0      0      1
3           0      1      0      0      0      0      0      0      0      1
4           0      0      1      0      0      0      0      0      0      1
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
624795      0      0      1      0      1      0      0      0      1      0
624796      0      1      0      0      0      0      0      0      1      0
624797      0      0      1      0      0      0      0      0      0      0
624798      0      0      1      0      1      0      0      0      0      1
624799      0      0      1      0      1      0      0      0      0      1

[2732092 rows x 174 columns]

### Confirmed: 160 columns + 24 new columns -10 original ABCD columns dropped = 174 columns

## View the updated dataframe. Expect 95 numeric columns.

In [29]:
FEVS5year3.describe()

,year,Q102,Q238,Q103,Q104,Q239,Q105,Q240,Q241,Q110,...,Q227_C,Q228_A,Q228_B,Q229_A,Q229_B,Q235_A,Q235_B,Q235_C,Q236_A,Q236_B
count,2.732092e+06,2.716803e+06,2.094127e+06,2.699711e+06,2.714021e+06,2.090605e+06,2.713057e+06,2.096759e+06,2.098584e+06,2.722479e+06,...,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06
mean,2.018206e+03,3.710247e+00,3.756616e+00,3.626316e+00,3.892961e+00,4.165207e+00,4.039856e+00,4.585513e+00,4.390788e+00,4.015080e+00,...,2.030869e-01,4.740832e-01,3.971360e-01,6.366037e-02,1.505615e-01,1.510879e-01,1.842094e-01,1.950304e-01,2.733506e-01,5.849591e-01
std,1.368376e+00,1.118916e+00,1.015602e+00,1.194728e+00,1.075541e+00,9.005743e-01,9.545277e-01,6.487026e-01,7.205188e-01,9.897640e-01,...,4.022967e-01,4.993280e-01,4.893047e-01,2.441470e-01,3.576210e-01,3.581346e-01,3.876549e-01,3.962242e-01,4.456794e-01,4.927292e-01
min,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.017000e+03,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.018000e+03,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,4.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,2.019000e+03,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
max,2.020000e+03,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

### 95 columns are now numeric (net 14 more than previous of 71).
### Still need to transform 174-95=79 columns

In [30]:
#find cols' names in a dataframe: 
for col in FEVS5year3:
    print(col)
#columns are out of order

year
agency_id
Q102
Q238
Q103
Q104
Q239
Q105
Q240
Q241
Q242
Q106
Q107
Q108
Q243
Q244
Q245
Q246
Q109
Q247
Q248
Q110
Q249
Q250
Q111
Q113
Q251
Q252
Q253
Q254
Q114
Q255
Q115
Q256
Q257
Q258
Q116
Q259
Q260
Q261
Q117
Q118
Q119
Q120
Q262
Q263
Q121
Q264
Q122
Q123
Q124
Q265
Q125
Q126
Q127
Q128
Q266
Q129
Q267
Q130
Q268
Q131
Q132
Q133
Q134
Q135
Q136
Q269
Q270
Q271
Q137
Q138
Q139
Q233
Q112
Q149
Q150
Q151
Q152
Q153
Q154
Q155
Q156
Q157
Q158
Q159
Q160
Q161
Q162
Q163
Q164
Q165
Q166
Q167
Q168
Q169
Q170
Q171
Q172
Q173
Q174
Q175
Q176
Q177
Q178
Q179
Q180
Q181
Q182
Q183
Q184
Q185
Q186
Q187
Q188
Q189
Q190
Q191
Q192
Q193
Q194
Q195
Q196
Q197
Q198
Q199
Q200
Q201
Q202
Q203
Q204
Q205
Q206
Q207
Q208
Q209
Q210
Q211
Q212
Q213
Q214
Q215
Q216
Q217
Q218
Q219
Q220
Q221
Q284
StayorGo
Q222_A
Q222_B
Q222_C
Q222_D
Q223_A
Q223_B
Q224_A
Q224_B
Q225_A
Q225_B
Q226_A
Q226_B
Q227_A
Q227_B
Q227_C
Q228_A
Q228_B
Q229_A
Q229_B
Q235_A
Q235_B
Q235_C
Q236_A
Q236_B

In [31]:
#check a given variables for a question by uncommenting (command + '/') and running this cell
FEVS5year3.Q255.unique()

array(['4', '3', '5', '2', '1', nan, 'X'], dtype=object)

# 5. Coerce Numeric+X variables to Numbers only.

### Identify the 77 columns where "Don't Know" was an option (appears as X in the data).
Coerce these variables to numbers.

In [32]:
FEVS5year3[['Q106','Q107','Q108','Q109','Q111','Q112','Q113','Q114','Q115','Q116','Q117','Q119','Q120','Q121','Q122','Q127','Q128','Q129','Q130','Q131','Q132','Q133','Q163','Q164','Q165','Q166','Q167','Q168','Q182','Q183','Q184','Q185','Q186','Q187','Q188','Q189','Q190','Q191','Q192','Q193','Q194','Q195','Q196','Q197','Q198','Q205','Q206','Q207','Q208','Q209','Q220','Q221','Q242','Q243','Q244','Q245','Q246','Q247','Q248','Q249','Q250','Q251','Q252','Q253','Q255','Q256','Q257','Q258','Q259','Q260','Q261','Q262','Q263','Q264','Q266','Q267','Q268']]= FEVS5year3[['Q106','Q107','Q108','Q109','Q111','Q112','Q113','Q114','Q115','Q116','Q117','Q119','Q120','Q121','Q122','Q127','Q128','Q129','Q130','Q131','Q132','Q133','Q163','Q164','Q165','Q166','Q167','Q168','Q182','Q183','Q184','Q185','Q186','Q187','Q188','Q189','Q190','Q191','Q192','Q193','Q194','Q195','Q196','Q197','Q198','Q205','Q206','Q207','Q208','Q209','Q220','Q221','Q242','Q243','Q244','Q245','Q246','Q247','Q248','Q249','Q250','Q251','Q252','Q253','Q255','Q256','Q257','Q258','Q259','Q260','Q261','Q262','Q263','Q264','Q266','Q267','Q268']].apply(pd.to_numeric,errors='coerce')
FEVS5year3

,year,agency_id,Q102,Q238,Q103,Q104,Q239,Q105,Q240,Q241,...,Q227_C,Q228_A,Q228_B,Q229_A,Q229_B,Q235_A,Q235_B,Q235_C,Q236_A,Q236_B
0,2016,TR,5.0,4.0,2.0,4.0,5.0,4.0,NaN,4.0,...,0,0,1,0,0,0,0,0,1,0
1,2016,AF,NaN,3.0,3.0,3.0,1.0,NaN,5.0,5.0,...,0,1,0,0,0,0,0,0,0,1
2,2016,TR,5.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,...,0,1,0,0,0,0,0,0,0,1
3,2016,TR,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,0,1,0,0,0,0,0,0,0,1
4,2016,HE,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624795,2020,HS,5.0,NaN,5.0,4.0,NaN,4.0,NaN,NaN,...,0,0,1,0,1,0,0,0,1,0
624796,2020,HS,5.0,NaN,5.0,4.0,NaN,4.0,NaN,NaN,...,0,1,0,0,0,0,0,0,1,0
624797,2020,HS,4.0,NaN,2.0,3.0,NaN,4.0,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
624798,2020,HS,4.0,NaN,3.0,4.0,NaN,4.0,NaN,NaN,...,0,0,1,0,1,0,0,0,0,1
624799,2020,HS,4.0,NaN,5.0,5.0,NaN,5.0,NaN,NaN,...,0,0,1,0,1,0,0,0,0,1

In [33]:
# Check that 172 variables are numeric (agency_id and StayorGo are remaining text variables)
FEVS5year3.describe()

,year,Q102,Q238,Q103,Q104,Q239,Q105,Q240,Q241,Q242,...,Q227_C,Q228_A,Q228_B,Q229_A,Q229_B,Q235_A,Q235_B,Q235_C,Q236_A,Q236_B
count,2.732092e+06,2.716803e+06,2.094127e+06,2.699711e+06,2.714021e+06,2.090605e+06,2.713057e+06,2.096759e+06,2.098584e+06,2.089196e+06,...,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06,2.732092e+06
mean,2.018206e+03,3.710247e+00,3.756616e+00,3.626316e+00,3.892961e+00,4.165207e+00,4.039856e+00,4.585513e+00,4.390788e+00,3.109714e+00,...,2.030869e-01,4.740832e-01,3.971360e-01,6.366037e-02,1.505615e-01,1.510879e-01,1.842094e-01,1.950304e-01,2.733506e-01,5.849591e-01
std,1.368376e+00,1.118916e+00,1.015602e+00,1.194728e+00,1.075541e+00,9.005743e-01,9.545277e-01,6.487026e-01,7.205188e-01,1.277390e+00,...,4.022967e-01,4.993280e-01,4.893047e-01,2.441470e-01,3.576210e-01,3.581346e-01,3.876549e-01,3.962242e-01,4.456794e-01,4.927292e-01
min,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.017000e+03,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,2.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.018000e+03,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,3.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,2.019000e+03,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,4.000000e+00,...,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
max,2.020000e+03,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [34]:
#find cols' names in a dataframe: 
for col in FEVS5year3:
    print(col)
#columns are out of order

year
agency_id
Q102
Q238
Q103
Q104
Q239
Q105
Q240
Q241
Q242
Q106
Q107
Q108
Q243
Q244
Q245
Q246
Q109
Q247
Q248
Q110
Q249
Q250
Q111
Q113
Q251
Q252
Q253
Q254
Q114
Q255
Q115
Q256
Q257
Q258
Q116
Q259
Q260
Q261
Q117
Q118
Q119
Q120
Q262
Q263
Q121
Q264
Q122
Q123
Q124
Q265
Q125
Q126
Q127
Q128
Q266
Q129
Q267
Q130
Q268
Q131
Q132
Q133
Q134
Q135
Q136
Q269
Q270
Q271
Q137
Q138
Q139
Q233
Q112
Q149
Q150
Q151
Q152
Q153
Q154
Q155
Q156
Q157
Q158
Q159
Q160
Q161
Q162
Q163
Q164
Q165
Q166
Q167
Q168
Q169
Q170
Q171
Q172
Q173
Q174
Q175
Q176
Q177
Q178
Q179
Q180
Q181
Q182
Q183
Q184
Q185
Q186
Q187
Q188
Q189
Q190
Q191
Q192
Q193
Q194
Q195
Q196
Q197
Q198
Q199
Q200
Q201
Q202
Q203
Q204
Q205
Q206
Q207
Q208
Q209
Q210
Q211
Q212
Q213
Q214
Q215
Q216
Q217
Q218
Q219
Q220
Q221
Q284
StayorGo
Q222_A
Q222_B
Q222_C
Q222_D
Q223_A
Q223_B
Q224_A
Q224_B
Q225_A
Q225_B
Q226_A
Q226_B
Q227_A
Q227_B
Q227_C
Q228_A
Q228_B
Q229_A
Q229_B
Q235_A
Q235_B
Q235_C
Q236_A
Q236_B

### Success! 172 columns are numeric.

In [35]:
#check a given variables for a question by uncommenting (command + '/') and running this cell
FEVS5year3.Q186.unique()
# FEVS5year3.agency_id.unique()
# FEVS5year3.StayorGo.unique()

array([nan,  5.,  3.,  2.,  4.,  1.])

In [36]:
#Or check all of them at once! 
#Note that the dtypes do not seem to be correct in the Output below.
# StayorGo appears as int64 but from the code above: array(['Stay', 'Retire', 'Transfer', nan, 'Leave'], dtype=object)
# Similarly, agency_id appears as int64 but from the code above: "array(['TR', 'AF', 'HE', 'CM', 'AG', 'GS', 'NN', 'DL', 'DJ', 'HU', 'HS'... dtype=object)"

col = ['agency_id','Q102','Q103','Q104','Q105','Q106','Q107','Q108','Q109','Q110','Q111','Q112','Q113','Q114','Q115','Q116','Q117','Q118','Q119','Q120','Q121','Q122','Q123','Q124','Q125','Q126','Q127','Q128','Q129','Q130','Q131','Q132','Q133','Q134','Q135','Q136','Q137','Q138','Q139','Q149','Q150','Q151','Q152','Q153','Q154','Q155','Q156','Q157','Q158','Q159','Q160','Q161','Q162','Q163','Q164','Q165','Q166','Q167','Q168','Q169','Q170','Q171','Q172','Q173','Q174','Q175','Q176','Q177','Q178','Q179','Q180','Q181','Q182','Q183','Q184','Q185','Q186','Q187','Q188','Q189','Q190','Q191','Q192','Q193','Q194','Q195','Q196','Q197','Q198','Q199','Q200','Q201','Q202','Q203','Q204','Q205','Q206','Q207','Q208','Q209','Q210','Q211','Q212','Q213','Q214','Q215','Q216','Q217','Q218','Q219','Q220','Q221','Q222_A','Q222_B','Q222_C','Q222_D','Q223_A','Q223_B','Q224_A','Q224_B','Q225_A','Q225_B','Q226_A','Q226_B','Q227_A','Q227_B','Q227_C','Q228_A','Q228_B','Q229_A','Q229_B','Q233','Q235_A','Q235_B','Q235_C','Q236_A','Q236_B','Q238','Q239','Q240','Q241','Q242','Q243','Q244','Q245','Q246','Q247','Q248','Q249','Q250','Q251','Q252','Q253','Q254','Q255','Q256','Q257','Q258','Q259','Q260','Q261','Q262','Q263','Q264','Q265','Q266','Q267','Q268','Q269','Q270','Q271','Q284','StayorGo','year']

#Print frequency of categories
for col in FEVS5year3:
    print ('\nFrequency of Categories for variable %s'%col)
    print (FEVS5year3[col].value_counts(dropna=False))

Frequency of Categories for variable year
2020    624800
2019    615395
2018    598003
2017    486105
2016    407789
Name: year, dtype: int64

Frequency of Categories for variable agency_id
HS    329891
AR    276735
HE    228556
TR    216010
AG    185111
NV    179736
AF    132660
IN    130184
DD    128249
DJ    120817
SZ    100310
TD     95918
VA     94707
CM     82146
NN     55961
EP     44009
DL     43310
DN     42757
ST     37424
GS     36197
XX     24960
HU     23324
OM     13571
SE     13355
ED     12819
NU     11242
AM     10316
NQ      8665
SB      7159
EE      6851
DR      5645
NF      4496
NL      4135
CU      3776
IB      3568
FT      2516
FC      2492
BG      2290
FQ      2158
RR      1528
SN      1509
CT      1395
BO      1367
HF       912
SK       712
KS       326
TC       317
Name: agency_id, dtype: int64

Frequency of Categories for variable Q102
4.0    1172777
5.0     678670
3.0     406779
2.0     316637
1.0     141940
NaN      15289
Name: Q102, dtype: int64

Frequency of Categories for variable Q238
4.0    1060028
NaN     637965
5.0     446373
3.0     291879
2.0     223369
1.0      72478
Name: Q238, dtype: int64

Frequency of Categories for variable Q103
4.0    1012484
5.0     700936
3.0     449212
2.0     350675
1.0     186404
NaN      32381
Name: Q103, dtype: int64

Frequency of Categories for variable Q104
4.0    1146593
5.0     865157
3.0     370398
2.0     210354
1.0     121519
NaN      18071
Name: Q104, dtype: int64

Frequency of Categories for variable Q239
4.0    900569
5.0    847896
NaN    641487
3.0    222495
2.0     78917
1.0     40728
Name: Q239, dtype: int64

Frequency of Categories for variable Q105
4.0    1290961
5.0     916652
3.0     274825
2.0     158162
1.0      72457
NaN      19035
Name: Q105, dtype: int64

Frequency of Categories for variable Q240
5.0    1355157
4.0     658551
NaN     635333
3.0      53464
1.0      14840
2.0      14747
Name: Q240, dtype: int64

Frequency of Categories for variable Q241
5.0    1053986
4.0     858790
NaN     633508
3.0     150701
2.0      22138
1.0      12969
Name: Q241, dtype: int64

Frequency of Categories for variable Q242
4.0    752109
NaN    642896
2.0    455862
3.0    324683
1.0    295029
5.0    261513
Name: Q242, dtype: int64

Frequency of Categories for variable Q106
4.0    1248400
2.0     412996
3.0     408049
5.0     383598
1.0     255224
NaN      23825
Name: Q106, dtype: int64

Frequency of Categories for variable Q107
4.0    1146369
5.0     529150
3.0     425240
2.0     345021
1.0     229246
NaN      57066
Name: Q107, dtype: int64

Frequency of Categories for variable Q108
4.0    1370420
5.0     951399
3.0     231419
2.0      93117
1.0      59665
NaN      26072
Name: Q108, dtype: int64

Frequency of Categories for variable Q243
5.0    1052731
4.0     829001
NaN     649965
3.0     137496
2.0      36598
1.0      26301
Name: Q243, dtype: int64

Frequency of Categories for variable Q244
4.0    892935
NaN    642452
5.0    539105
3.0    281080
2.0    232039
1.0    144481
Name: Q244, dtype: int64

Frequency of Categories for variable Q245
4.0    890994
NaN    661723
5.0    607711
3.0    277297
2.0    161653
1.0    132714
Name: Q245, dtype: int64

Frequency of Categories for variable Q246
4.0    1068559
5.0     688797
NaN     647284
3.0     223040
2.0      65846
1.0      38566
Name: Q246, dtype: int64

Frequency of Categories for variable Q109
4.0    968513
5.0    787520
3.0    435385
1.0    217254
2.0    208106
NaN    115314
Name: Q109, dtype: int64

Frequency of Categories for variable Q247
4.0    800265
NaN    653626
3.0    458045
5.0    361181
2.0    292232
1.0    166743
Name: Q247, dtype: int64

Frequency of Categories for variable Q248
4.0    839390
NaN    676088
5.0    638264
3.0    262957
2.0    184865
1.0    130528
Name: Q248, dtype: int64

Frequency of Categories for variable Q110
4.0    1221148
5.0     940645
3.0     296587
2.0     189295
1.0      74804
NaN       9613
Name: Q110, dtype: int64

Frequency of Categories for variable Q249
NaN    708296
4.0    683671
3.0    499201
2.0    389853
1.0    236653
5.0    214418
Name: Q249, dtype: int64

Frequency of Categories for variable Q250
NaN    780751
4.0    555006
3.0    535114
2.0    318293
1.0    314943
5.0    227985
Name: Q250, dtype: int64

Frequency of Categories for variable Q111
3.0    678689
4.0    659623
2.0    459092
1.0    404486
NaN    305287
5.0    224915
Name: Q111, dtype: int64

Frequency of Categories for variable Q113
4.0    800915
3.0    690604
2.0    458507
1.0    317192
5.0    275378
NaN    189496
Name: Q113, dtype: int64

Frequency of Categories for variable Q251
NaN    779668
4.0    679435
3.0    470806
2.0    281004
1.0    260935
5.0    260244
Name: Q251, dtype: int64

Frequency of Categories for variable Q252
4.0    1033492
NaN     648972
5.0     574252
3.0     251804
2.0     134191
1.0      89381
Name: Q252, dtype: int64

Frequency of Categories for variable Q253
4.0    774411
NaN    719748
3.0    541159
5.0    392669
2.0    185162
1.0    118943
Name: Q253, dtype: int64

Frequency of Categories for variable Q254
5.0    951984
4.0    833987
NaN    640079
3.0    248463
2.0     40230
1.0     17349
Name: Q254, dtype: int64

Frequency of Categories for variable Q114
4.0    1357029
5.0     743727
3.0     335863
2.0     171726
1.0      65024
NaN      58723
Name: Q114, dtype: int64

Frequency of Categories for variable Q255
4.0    748952
NaN    715095
3.0    473977
2.0    356138
5.0    246645
1.0    191285
Name: Q255, dtype: int64

Frequency of Categories for variable Q115
4.0    1068445
3.0     529140
5.0     439578
2.0     376314
1.0     221872
NaN      96743
Name: Q115, dtype: int64

Frequency of Categories for variable Q256
NaN    741460
4.0    623085
3.0    544034
2.0    344747
5.0    259332
1.0    219434
Name: Q256, dtype: int64

Frequency of Categories for variable Q257
NaN    819204
3.0    549330
2.0    449191
1.0    392784
4.0    382062
5.0    139521
Name: Q257, dtype: int64

Frequency of Categories for variable Q258
NaN    821044
4.0    788235
3.0    499529
5.0    364889
2.0    135629
1.0    122766
Name: Q258, dtype: int64

Frequency of Categories for variable Q116
4.0    1331012
5.0     755818
3.0     319233
2.0     144356
1.0      98715
NaN      82958
Name: Q116, dtype: int64

Frequency of Categories for variable Q259
4.0    1103164
NaN     696951
5.0     507074
3.0     258710
2.0     106093
1.0      60100
Name: Q259, dtype: int64

Frequency of Categories for variable Q260
NaN    786561
4.0    713487
5.0    408872
3.0    402621
1.0    216062
2.0    204489
Name: Q260, dtype: int64

Frequency of Categories for variable Q261
NaN    849010
4.0    796586
5.0    539959
3.0    323092
1.0    123846
2.0     99599
Name: Q261, dtype: int64

Frequency of Categories for variable Q117
4.0    1358251
5.0     714963
3.0     383885
2.0     117227
NaN      89375
1.0      68391
Name: Q117, dtype: int64

Frequency of Categories for variable Q118
4.0    1102817
5.0     740075
3.0     480544
2.0     232925
1.0     128225
NaN      47506
Name: Q118, dtype: int64

Frequency of Categories for variable Q119
4.0    705517
3.0    663290
5.0    398823
2.0    389008
1.0    335909
NaN    239545
Name: Q119, dtype: int64

Frequency of Categories for variable Q120
5.0    1260191
4.0     968817
3.0     225412
2.0     108667
1.0     103974
NaN      65031
Name: Q120, dtype: int64

Frequency of Categories for variable Q262
4.0    728588
5.0    724863
NaN    687969
3.0    305835
2.0    162683
1.0    122154
Name: Q262, dtype: int64

Frequency of Categories for variable Q263
4.0    716429
NaN    703008
5.0    670919
3.0    326761
2.0    171411
1.0    143564
Name: Q263, dtype: int64

Frequency of Categories for variable Q121
5.0    951560
4.0    901426
3.0    444462
NaN    243746
1.0    101116
2.0     89782
Name: Q121, dtype: int64

Frequency of Categories for variable Q264
4.0    740208
NaN    690660
5.0    631290
3.0    353668
2.0    182112
1.0    134154
Name: Q264, dtype: int64

Frequency of Categories for variable Q122
4.0    988755
5.0    946597
3.0    384466
2.0    172209
1.0    149701
NaN     90364
Name: Q122, dtype: int64

Frequency of Categories for variable Q123
5.0    1177779
4.0     981507
3.0     264852
2.0     155984
1.0      93453
NaN      58517
Name: Q123, dtype: int64

Frequency of Categories for variable Q124
5.0    1328766
4.0     938137
3.0     217782
2.0     103429
1.0      82597
NaN      61381
Name: Q124, dtype: int64

Frequency of Categories for variable Q265
5.0    852916
4.0    845769
NaN    682635
3.0    166497
2.0    123695
1.0     60580
Name: Q265, dtype: int64

Frequency of Categories for variable Q125
5.0    1136041
4.0     820904
3.0     364979
2.0     187125
1.0     162322
NaN      60721
Name: Q125, dtype: int64

Frequency of Categories for variable Q126

5.0    1245130
4.0     780158
3.0     399398
2.0     141514
1.0     107209
NaN      58683
Name: Q126, dtype: int64

Frequency of Categories for variable Q127
4.0    834805
3.0    618113
2.0    431167
5.0    377975
1.0    339631
NaN    130401
Name: Q127, dtype: int64

Frequency of Categories for variable Q128
4.0    915033
3.0    570324
5.0    518954
1.0    256954
2.0    236862
NaN    233965
Name: Q128, dtype: int64

Frequency of Categories for variable Q266
4.0    887482
NaN    808752
5.0    459488
3.0    362051
2.0    111888
1.0    102431
Name: Q266, dtype: int64

Frequency of Categories for variable Q129
4.0    1207798
5.0     521416
3.0     468949
2.0     245643
1.0     171518
NaN     116768
Name: Q129, dtype: int64

Frequency of Categories for variable Q267
4.0    859154
NaN    830486
3.0    406386
5.0    369927
2.0    151631
1.0    114508
Name: Q267, dtype: int64

Frequency of Categories for variable Q130
4.0    1027885
3.0     519963
5.0     479438
2.0     317026
1.0     228405
NaN     159375
Name: Q130, dtype: int64

Frequency of Categories for variable Q268
4.0    816392
NaN    775880
3.0    395461
5.0    381723
2.0    202196
1.0    160440
Name: Q268, dtype: int64

Frequency of Categories for variable Q131
4.0    881540
5.0    730884
3.0    520662
NaN    225968
2.0    196123
1.0    176915
Name: Q131, dtype: int64

Frequency of Categories for variable Q132
4.0    899830
5.0    618341
3.0    582599
2.0    279200
1.0    232356
NaN    119766
Name: Q132, dtype: int64

Frequency of Categories for variable Q133
4.0    909212
5.0    594937
3.0    559764
NaN    295788
2.0    201096
1.0    171295
Name: Q133, dtype: int64

Frequency of Categories for variable Q134
4.0    1019280
3.0     566425
5.0     459520
2.0     428745
1.0     165978
NaN      92144
Name: Q134, dtype: int64

Frequency of Categories for variable Q135
4.0    1012671
3.0     568061
2.0     446476
5.0     423164
1.0     185455
NaN      96265
Name: Q135, dtype: int64

Frequency of Categories for variable Q136
4.0    965841
3.0    572877
5.0    496957
2.0    386657
1.0    210815
NaN     98945
Name: Q136, dtype: int64

Frequency of Categories for variable Q269
NaN    712473
4.0    672853
3.0    576712
2.0    325896
5.0    266101
1.0    178057
Name: Q269, dtype: int64

Frequency of Categories for variable Q270
NaN    712153
3.0    556809
4.0    544726
2.0    378961
1.0    287206
5.0    252237
Name: Q270, dtype: int64

Frequency of Categories for variable Q271
4.0    809020
NaN    711624
3.0    452215
5.0    336193
2.0    280605
1.0    142435
Name: Q271, dtype: int64

Frequency of Categories for variable Q137
4.0    1192875
5.0     656979
3.0     417025
2.0     247752
1.0     118188
NaN      99273
Name: Q137, dtype: int64

Frequency of Categories for variable Q138
4.0    1155672
5.0     552199
3.0     410602
2.0     345709
1.0     171405
NaN      96505
Name: Q138, dtype: int64

Frequency of Categories for variable Q139
4.0    1142445
5.0     519042
3.0     510304
2.0     308134
1.0     152753
NaN      99414
Name: Q139, dtype: int64

Frequency of Categories for variable Q233
2.162163     3815
4.969441     2994
1.669450     2915
5.047841     2914
5.021349     2806
             ...
15.619326       1
5.149737        1
13.413095       1
6.514613        1
3.682753        1
Name: Q233, Length: 130036, dtype: int64

Frequency of Categories for variable Q112
NaN    2252141
2.0     225946
5.0     106151
1.0      93198
3.0      44226
4.0      10430
Name: Q112, dtype: int64

Frequency of Categories for variable Q149
NaN    2127799
1.0     424500
3.0     139073
2.0      40720
Name: Q149, dtype: int64

Frequency of Categories for variable Q150
NaN    2132366
1.0     319324
3.0     227378
2.0      53024
Name: Q150, dtype: int64

Frequency of Categories for variable Q151
NaN    2132044
3.0     347743
1.0     196078
2.0      56227
Name: Q151, dtype: int64

Frequency of Categories for variable Q152
NaN    2132369
3.0     320787
1.0     217901
2.0      61035
Name: Q152, dtype: int64

Frequency of Categories for variable Q153
NaN    2128146
3.0     421176
1.0     131337
2.0      51433
Name: Q153, dtype: int64

Frequency of Categories for variable Q154
NaN    2128619
3.0     377243
1.0     129564
2.0      96666
Name: Q154, dtype: int64

Frequency of Categories for variable Q155
NaN    2127029
1.0     330105
3.0     173132
2.0     101826
Name: Q155, dtype: int64

Frequency of Categories for variable Q156
NaN    2129334
3.0     280781
1.0     259357
2.0      62620
Name: Q156, dtype: int64

Frequency of Categories for variable Q157
NaN    2126547
1.0     327320
3.0     237505
2.0      40720
Name: Q157, dtype: int64

Frequency of Categories for variable Q158
NaN    2126229
1.0     333480
3.0     228752
2.0      43631
Name: Q158, dtype: int64

Frequency of Categories for variable Q159
NaN    2128435
3.0     347774
1.0     189934
2.0      65949
Name: Q159, dtype: int64

Frequency of Categories for variable Q160
NaN    2127050
1.0     369104
3.0     206964
2.0      28974
Name: Q160, dtype: int64

Frequency of Categories for variable Q161
NaN    2126735
1.0     347747
3.0     209063
2.0      48547
Name: Q161, dtype: int64

Frequency of Categories for variable Q162
NaN    2127922
1.0     331038
3.0     199854
2.0      73278
Name: Q162, dtype: int64

Frequency of Categories for variable Q163
NaN    2133263
5.0     295522
4.0     202986
3.0      51639
2.0      26627
1.0      22055
Name: Q163, dtype: int64

Frequency of Categories for variable Q164
NaN    2135275
5.0     294440
4.0     207960
3.0      50596
2.0      24278
1.0      19543
Name: Q164, dtype: int64

Frequency of Categories for variable Q165
NaN    2132855
5.0     264155
4.0     206162
3.0      65738
2.0      36888
1.0      26294
Name: Q165, dtype: int64

Frequency of Categories for variable Q166
NaN    2131328
5.0     332764
4.0     184905
3.0      48493
2.0      18773
1.0      15829
Name: Q166, dtype: int64

Frequency of Categories for variable Q167
NaN    2134862
5.0     336625
4.0     184403
3.0      47572
2.0      15125
1.0      13505
Name: Q167, dtype: int64

Frequency of Categories for variable Q168
NaN    2138345
5.0     315908
4.0     171419
3.0      63006
2.0      23510
1.0      19904
Name: Q168, dtype: int64

Frequency of Categories for variable Q169
NaN    2136223
1.0     465717
2.0      79765
3.0      50387
Name: Q169, dtype: int64

Frequency of Categories for variable Q170
NaN    2137315
1.0     302978
3.0     215519
2.0      76280
Name: Q170, dtype: int64

Frequency of Categories for variable Q171
NaN    2135645
3.0     282164
1.0     225819
2.0      88464
Name: Q171, dtype: int64

Frequency of Categories for variable Q172
NaN    2134035
3.0     465178
1.0      95161
2.0      37718
Name: Q172, dtype: int64

Frequency of Categories for variable Q173
NaN    2137192
3.0     429483
1.0     122796
2.0      42621
Name: Q173, dtype: int64

Frequency of Categories for variable Q174
NaN    2135547
1.0     396587
3.0     154645
2.0      45313
Name: Q174, dtype: int64

Frequency of Categories for variable Q175
NaN    2134866
1.0     279211
3.0     266947
2.0      51068
Name: Q175, dtype: int64

Frequency of Categories for variable Q176
NaN    2133344
1.0     398390
3.0     134379
2.0      65979
Name: Q176, dtype: int64

Frequency of Categories for variable Q177
NaN    2133206
1.0     453707
3.0     108888
2.0      36291
Name: Q177, dtype: int64

Frequency of Categories for variable Q178
NaN    2135382
1.0     325238
3.0     196122
2.0      75350
Name: Q178, dtype: int64

Frequency of Categories for variable Q179
NaN    2134238
1.0     341187
3.0     174223
2.0      82444
Name: Q179, dtype: int64

Frequency of Categories for variable Q180
NaN    2136331
1.0     391214
3.0     164015
2.0      40532
Name: Q180, dtype: int64

Frequency of Categories for variable Q181
NaN    2144221
2.0     400504
1.0     132556
3.0      54811
Name: Q181, dtype: int64

Frequency of Categories for variable Q182
NaN    2134622
3.0     177242
5.0     157070
4.0     136781
2.0      79239
1.0      47138
Name: Q182, dtype: int64

Frequency of Categories for variable Q183
NaN    2140068
3.0     249154
2.0     184130
1.0     109178
4.0      36109
5.0      13453
Name: Q183, dtype: int64

Frequency of Categories for variable Q184
NaN    2154586
5.0     341150
4.0     208091
3.0      22951
2.0       3929
1.0       1385
Name: Q184, dtype: int64

Frequency of Categories for variable Q185
NaN    2152181
5.0     378131
4.0     169432
3.0      25347
2.0       5071
1.0       1930
Name: Q185, dtype: int64

Frequency of Categories for variable Q186
NaN    2147977
5.0     369783
4.0     175592
3.0      31265
2.0       5671
1.0       1804
Name: Q186, dtype: int64

Frequency of Categories for variable Q187
NaN    2148028
5.0     360319
4.0     172962
3.0      38778
2.0       9331
1.0       2674
Name: Q187, dtype: int64

Frequency of Categories for variable Q188
NaN    2146504
5.0     340265
4.0     175035
3.0      50729
2.0      15220
1.0       4339
Name: Q188, dtype: int64

Frequency of Categories for variable Q189
NaN    2151358
5.0     336351
4.0     203331
3.0      33381
2.0       5719
1.0       1952
Name: Q189, dtype: int64

Frequency of Categories for variable Q190

NaN    2159017
5.0     275832
4.0     222407
3.0      58726
2.0      13010
1.0       3100
Name: Q190, dtype: int64

Frequency of Categories for variable Q191
NaN    2154907
5.0     335532
4.0     180217
3.0      46575
2.0      11626
1.0       3235
Name: Q191, dtype: int64

Frequency of Categories for variable Q192
NaN    2151520
5.0     332690
4.0     182054
3.0      51255
2.0      11656
1.0       2917
Name: Q192, dtype: int64

Frequency of Categories for variable Q193
NaN    2148912
5.0     339270
4.0     174685
3.0      52161
2.0      13386
1.0       3678
Name: Q193, dtype: int64

Frequency of Categories for variable Q194
NaN    2149070
5.0     308989
4.0     178241
3.0      68478
2.0      21716
1.0       5598
Name: Q194, dtype: int64

Frequency of Categories for variable Q195
NaN    2155212
5.0     295860
4.0     204627
3.0      59851
2.0      13113
1.0       3429
Name: Q195, dtype: int64

Frequency of Categories for variable Q196
NaN    2209535
5.0     225395
4.0     174043
3.0      68736
2.0      31250
1.0      23133
Name: Q196, dtype: int64

Frequency of Categories for variable Q197
NaN    2145672
5.0     227380
4.0     216919
3.0      84552
2.0      32845
1.0      24724
Name: Q197, dtype: int64

Frequency of Categories for variable Q198
NaN    2219364
5.0     237772
4.0     177140
3.0      51858
2.0      29921
1.0      16037
Name: Q198, dtype: int64

Frequency of Categories for variable Q199
NaN    2137369
1.0     298928
0.0     295795
Name: Q199, dtype: int64

Frequency of Categories for variable Q200
NaN    2137369
0.0     476812
1.0     117911
Name: Q200, dtype: int64

Frequency of Categories for variable Q201
NaN    2137369
0.0     559377
1.0      35346
Name: Q201, dtype: int64

Frequency of Categories for variable Q202
NaN    2137369
0.0     576940
1.0      17783
Name: Q202, dtype: int64

Frequency of Categories for variable Q203
NaN    2137369
0.0     591287
1.0       3436
Name: Q203, dtype: int64

Frequency of Categories for variable Q204
NaN    2137369
0.0     357531
1.0     237192
Name: Q204, dtype: int64

Frequency of Categories for variable Q205
NaN    2311324
5.0     217065
4.0     137405
3.0      46882
2.0      12303
1.0       7113
Name: Q205, dtype: int64

Frequency of Categories for variable Q206
NaN    2365440
4.0     143643
5.0      98295
3.0      94410
2.0      20495
1.0       9809
Name: Q206, dtype: int64

Frequency of Categories for variable Q207
NaN    2461209
3.0     112503
4.0      87498
5.0      55132
2.0       9672
1.0       6078
Name: Q207, dtype: int64

Frequency of Categories for variable Q208
NaN    2557952
3.0      95120
4.0      39036
5.0      28128
2.0       6741
1.0       5115
Name: Q208, dtype: int64

Frequency of Categories for variable Q209
NaN    2591242
3.0      91973
4.0      23385
5.0      18681
2.0       3714
1.0       3097
Name: Q209, dtype: int64

Frequency of Categories for variable Q210
NaN    2140185
1.0     366946
0.0     224961
Name: Q210, dtype: int64

Frequency of Categories for variable Q211
NaN    2140185
0.0     524704
1.0      67203
Name: Q211, dtype: int64

Frequency of Categories for variable Q212
NaN    2140185
0.0     527420
1.0      64487
Name: Q212, dtype: int64

Frequency of Categories for variable Q213
NaN    2140185
0.0     514691
1.0      77216
Name: Q213, dtype: int64

Frequency of Categories for variable Q214
NaN    2140185
0.0     467511
1.0     124396
Name: Q214, dtype: int64

Frequency of Categories for variable Q215
NaN    2142079
1.0     482113
0.0     107900
Name: Q215, dtype: int64

Frequency of Categories for variable Q216
NaN    2142079
0.0     539372
1.0      50641
Name: Q216, dtype: int64

Frequency of Categories for variable Q217
NaN    2142079
0.0     557337
1.0      32676
Name: Q217, dtype: int64

Frequency of Categories for variable Q218
NaN    2142079
0.0     566123
1.0      23890
Name: Q218, dtype: int64

Frequency of Categories for variable Q219
NaN    2142079
0.0     570680
1.0      19333
Name: Q219, dtype: int64

Frequency of Categories for variable Q220
NaN    2494893
3.0      62481
1.0      52238
5.0      44058
4.0      42300
2.0      36122
Name: Q220, dtype: int64

Frequency of Categories for variable Q221
NaN    2581069
1.0      40097
3.0      35350
5.0      30000
2.0      24337
4.0      21239
Name: Q221, dtype: int64

Frequency of Categories for variable Q284
NaN    2152180
4.0     419141
3.0     107728
2.0      44652
1.0       8391
Name: Q284, dtype: int64

Frequency of Categories for variable StayorGo
Stay        1736122
Transfer     442466
Retire       278698
NaN          176148
Leave         98658
Name: StayorGo, dtype: int64

Frequency of Categories for variable Q222_A
0    2655255
1      76837
Name: Q222_A, dtype: int64

Frequency of Categories for variable Q222_B
0    2342103
1     389989
Name: Q222_B, dtype: int64

Frequency of Categories for variable Q222_C
0    2701838
1      30254
Name: Q222_C, dtype: int64

Frequency of Categories for variable Q222_D
0    2697194
1      34898
Name: Q222_D, dtype: int64

Frequency of Categories for variable Q223_A
0    2675191
1      56901
Name: Q223_A, dtype: int64

Frequency of Categories for variable Q223_B
0    2232355
1     499737
Name: Q223_B, dtype: int64

Frequency of Categories for variable Q224_A
0    2649136
1      82956
Name: Q224_A, dtype: int64

Frequency of Categories for variable Q224_B
0    2251484
1     480608
Name: Q224_B, dtype: int64

Frequency of Categories for variable Q225_A
0    2516287
1     215805
Name: Q225_A, dtype: int64

Frequency of Categories for variable Q225_B
0    1989578
1     742514
Name: Q225_B, dtype: int64

Frequency of Categories for variable Q226_A
1    1950923
0     781169
Name: Q226_A, dtype: int64

Frequency of Categories for variable Q226_B
0    2231685
1     500407
Name: Q226_B, dtype: int64

Frequency of Categories for variable Q227_A
0    1902879
1     829213
Name: Q227_A, dtype: int64

Frequency of Categories for variable Q227_B
0    2061929
1     670163
Name: Q227_B, dtype: int64

Frequency of Categories for variable Q227_C
0    2177240
1     554852
Name: Q227_C, dtype: int64

Frequency of Categories for variable Q228_A
0    1436853
1    1295239
Name: Q228_A, dtype: int64

Frequency of Categories for variable Q228_B
0    1647080
1    1085012
Name: Q228_B, dtype: int64

Frequency of Categories for variable Q229_A
0    2558166
1     173926
Name: Q229_A, dtype: int64

Frequency of Categories for variable Q229_B
0    2320744
1     411348
Name: Q229_B, dtype: int64

Frequency of Categories for variable Q235_A
0    2319306
1     412786
Name: Q235_A, dtype: int64

Frequency of Categories for variable Q235_B
0    2228815
1     503277
Name: Q235_B, dtype: int64

Frequency of Categories for variable Q235_C
0    2199251
1     532841
Name: Q235_C, dtype: int64

Frequency of Categories for variable Q236_A
0    1985273
1     746819
Name: Q236_A, dtype: int64

Frequency of Categories for variable Q236_B
1    1598162
0    1133930
Name: Q236_B, dtype: int64

### We have 172 columns that are numeric. Result is that 147 variables still have NaN values.

## Save the FEVS5Year3 dataframe to a new CSV file before moving on.

In [37]:
# save a csv file to the local folder:
FEVS5year3.to_csv("FEVS5year3.csv", encoding='utf-8')

# FEVS5year3.csv has 172/174 numeric but still has NaN values in Number + X, Number (and agency_id, and StayorGo). 
#If we use this file for modeling, use Simple Imputer (see below) to transform the NaNs at the time of modeling.

# 6. Replace the resulting NaNs with mean for each column.

In [42]:
# #Replace NaNs in selected columns with the mean of values in the same column
#reimport the dataset
FEVS5year4 = pd.read_csv('FEVS5year3.csv', low_memory=False)

List of columns we want to impute.

In [43]:
# cols = FEVS5year4.columns[3:]

In [44]:
cols = ['Q102','Q238','Q103','Q104','Q239','Q105','Q240','Q241','Q242','Q106','Q107','Q108','Q243','Q244','Q245','Q246','Q109','Q247','Q248','Q110','Q249','Q250','Q111','Q113','Q251','Q252','Q253','Q254','Q114','Q255','Q115','Q256','Q257','Q258','Q116','Q259','Q260','Q261','Q117','Q118','Q119','Q120','Q262','Q263','Q121','Q264','Q122','Q123','Q124','Q265','Q125','Q126','Q127','Q128','Q266','Q129','Q267','Q130','Q268','Q131','Q132','Q133','Q134','Q135','Q136','Q269','Q270','Q271','Q137','Q138','Q139','Q233','Q112','Q149','Q150','Q151','Q152','Q153','Q154','Q155','Q156','Q157','Q158','Q159','Q160','Q161','Q162','Q163','Q164','Q165','Q166','Q167','Q168','Q169','Q170','Q171','Q172','Q173','Q174','Q175','Q176','Q177','Q178','Q179','Q180','Q181','Q182','Q183','Q184','Q185','Q186','Q187','Q188','Q189','Q190','Q191','Q192','Q193','Q194','Q195','Q196','Q197','Q198','Q199','Q200','Q201','Q202','Q203','Q204','Q205','Q206','Q207','Q208','Q209','Q210','Q211','Q212','Q213','Q214','Q215','Q216','Q217','Q218','Q219','Q220','Q221','Q284']

Create relationship between columns and the value you want to fill NA with.

In [45]:
impute = {}

for col in cols:
    impute[col] = FEVS5year4[col].mean()

In [46]:
impute

{'Q102': 3.7102465655404533,
 'Q238': 3.756615525228413,
 'Q103': 3.626316298300077,
 'Q104': 3.892961034568266,
 'Q239': 4.165207200786376,
 'Q105': 4.039856147511829,
 'Q240': 4.585512688868868,
 'Q241': 4.39078826484906,
 'Q242': 3.109714454747185,
 'Q106': 3.4032659999918766,
 'Q107': 3.5237915444560164,
 'Q108': 4.131096961589345,
 'Q243': 4.366517508298005,
 'Q244': 3.6939683390440456,
 'Q245': 3.8111283544141163,
 'Q246': 4.104742019408982,
 'Q109': 3.7264425946717683,
 'Q247': 3.431524499318247,
 'Q248': 3.8122537699342995,
 'Q110': 4.01508037343906,
 'Q249': 3.123208070378635,
 'Q250': 3.0321814588019214,
 'Q111': 2.934642049938087,
 'Q113': 3.1017778679743064,
 'Q251': 3.2033620770898126,
 'Q252': 3.897232516609701,
 'Q253': 3.564864158414267,
 'Q254': 4.272949546680637,
 'Q114': 3.9511253403477036,
 'Q255': 3.2496453886644354,
 'Q115': 3.4278533886783116,
 'Q256': 3.179909697020846,
 'Q257': 2.70011051352719,
 'Q258': 3.5948840636132635,
 'Q116': 3.944030011316906,
 'Q259': 3.929183285089338,
 'Q260': 3.4598323028520235,
 'Q261': 3.8120798775624216,
 'Q117': 3.958925227332325,
 'Q118': 3.7798565588884094,
 'Q119': 3.177463855245257,
 'Q120': 4.189543096314632,
 'Q262': 3.866544234373372,
 'Q263': 3.7883991002836748,
 'Q121': 4.009719709397326,
 'Q264': 3.760430913202105,
 'Q122': 3.912409604622429,
 'Q123': 4.119914346895075,
 'Q124': 4.245752909992882,
 'Q265': 4.125540082080278,
 'Q125': 3.966251786067903,
 'Q126': 4.0901758765680825,
 'Q127': 3.1846206947712083,
 'Q128': 3.4812289367193903,
 'Q266': 3.7745422026266806,
 'Q129': 3.6354665808136963,
 'Q267': 3.6407010705687717,
 'Q130': 3.471456829491934,
 'Q268': 3.540208320979526,
 'Q131': 3.7155890929578903,
 'Q132': 3.5330881367792535,
 'Q133': 3.638426074906908,
 'Q134': 3.4460765893873666,
 'Q135': 3.395175024764524,
 'Q136': 3.437297272047478,
 'Q269': 3.258982015914883,
 'Q270': 3.0474405415213033,
 'Q271': 3.453326160077764,
 'Q137': 3.7682658777530853,
 'Q138': 3.59628120794343,
 'Q139': 3.595169253512963,
 'Q233': 2.9153729151149697,
 'Q112': 2.604938837506329,
 'Q149': 1.5276678697254478,
 'Q150': 1.8466866535717978,
 'Q151': 2.2527547796176304,
 'Q152': 2.1715558682925282,
 'Q153': 2.479908799793359,
 'Q154': 2.4104226701111733,
 'Q155': 1.7405675111517314,
 'Q156': 2.0355432860285556,
 'Q157': 1.8516790659653701,
 'Q158': 1.8271424397924942,
 'Q159': 2.261472988799931,
 'Q160': 1.7320186036671834,
 'Q161': 1.770905432662049,
 'Q162': 1.7828690600327721,
 'Q163': 4.207845645417974,
 'Q164': 4.228979737507477,
 'Q165': 4.076362107146254,
 'Q166': 4.3316410437376405,
 'Q167': 4.3655007283626075,
 'Q168': 4.246182296500025,
 'Q169': 1.3029843807951076,
 'Q170': 1.8529549730403159,
 'Q171': 2.0944677397991773,
 'Q172': 2.618698552144695,
 'Q173': 2.5155269793242563,
 'Q174': 1.5944279140718638,
 'Q175': 1.9794650601279917,
 'Q176': 1.5590615751534869,
 'Q177': 1.4242326586362013,
 'Q178': 1.7836201840089825,
 'Q179': 1.7207278031091202,
 'Q180': 1.6186406965209204,
 'Q181': 1.8677515985649913,
 'Q182': 3.4643011364587344,
 'Q183': 2.426592503006635,
 'Q184': 4.530186699358968,
 'Q185': 4.580868443606001,
 'Q186': 4.550857279816475,
 'Q187': 4.504836798706991,
 'Q188': 4.420225482762625,
 'Q189': 4.491922291444965,
 'Q190': 4.317211534266893,
 'Q191': 4.443531969819036,
 'Q192': 4.429528120543188,
 'Q193': 4.42748893994993,
 'Q194': 4.309225037820185,
 'Q195': 4.34581888781029,
 'Q196': 4.047382390820523,
 'Q197': 4.005057808396712,
 'Q198': 4.152051380068964,
 'Q199': 0.5026339993576842,
 'Q200': 0.198262048045897,
 'Q201': 0.05943271069052315,
 'Q202': 0.02990131540229653,
 'Q203': 0.005777479599746437,
 'Q204': 0.39882768952941117,
 'Q205': 4.29526484903795,
 'Q206': 3.8185418325823943,
 'Q207': 3.6494833562829707,
 'Q208': 3.4497588147467555,
 'Q209': 3.3609442669506566,
 'Q210': 0.6199386052200768,
 'Q211': 0.11353641703848746,
 'Q212': 0.1089478583628847,
 'Q213': 0.13045292588193752,
 'Q214': 0.21016139359730499,
 'Q215': 0.8171226735682096,
 'Q216': 0.0858303122134597,
 'Q217': 0.0553818305698349,
 'Q218': 0.040490633257233316,
 'Q219': 0.03276707462377947,
 'Q220': 2.9570740180186257,
 'Q221': 2.8457718360779483,
 'Q284': 3.6168297948654278}

Apply fill NA.

In [47]:
#Replace NaNs in chosen columns with mean of that column
FEVS5year4.fillna(value=impute, inplace=True)

In [56]:
#check a given variables for a question by uncommenting (command + '/') and running this cell
FEVS5year4.Q102.unique()

array([5.        , 3.71024657, 3.        , 4.        , 2.        ,
       1.        ])

In [57]:
#Or check all of them at once! 
#Note that the dtypes do not seem to be correct in the Output below.
# StayorGo appears as int64 but from the code above: array(['Stay', 'Retire', 'Transfer', nan, 'Leave'], dtype=object)
# Similarly, agency_id appears as int64 but from the code above: "array(['TR', 'AF', 'HE', 'CM', 'AG', 'GS', 'NN', 'DL', 'DJ', 'HU', 'HS'... dtype=object)"

col = ['agency_id','Q102','Q103','Q104','Q105','Q106','Q107','Q108','Q109','Q110','Q111','Q112','Q113','Q114','Q115','Q116','Q117','Q118','Q119','Q120','Q121','Q122','Q123','Q124','Q125','Q126','Q127','Q128','Q129','Q130','Q131','Q132','Q133','Q134','Q135','Q136','Q137','Q138','Q139','Q149','Q150','Q151','Q152','Q153','Q154','Q155','Q156','Q157','Q158','Q159','Q160','Q161','Q162','Q163','Q164','Q165','Q166','Q167','Q168','Q169','Q170','Q171','Q172','Q173','Q174','Q175','Q176','Q177','Q178','Q179','Q180','Q181','Q182','Q183','Q184','Q185','Q186','Q187','Q188','Q189','Q190','Q191','Q192','Q193','Q194','Q195','Q196','Q197','Q198','Q199','Q200','Q201','Q202','Q203','Q204','Q205','Q206','Q207','Q208','Q209','Q210','Q211','Q212','Q213','Q214','Q215','Q216','Q217','Q218','Q219','Q220','Q221','Q222_A','Q222_B','Q222_C','Q222_D','Q223_A','Q223_B','Q224_A','Q224_B','Q225_A','Q225_B','Q226_A','Q226_B','Q227_A','Q227_B','Q227_C','Q228_A','Q228_B','Q229_A','Q229_B','Q233','Q235_A','Q235_B','Q235_C','Q236_A','Q236_B','Q238','Q239','Q240','Q241','Q242','Q243','Q244','Q245','Q246','Q247','Q248','Q249','Q250','Q251','Q252','Q253','Q254','Q255','Q256','Q257','Q258','Q259','Q260','Q261','Q262','Q263','Q264','Q265','Q266','Q267','Q268','Q269','Q270','Q271','Q284','StayorGo','year']

#Print frequency of categories
for col in FEVS5year4:
    print ('\nFrequency of Categories for variable %s'%col)
    print (FEVS5year4[col].value_counts(dropna=False))

Frequency of Categories for variable Unnamed: 0
0         5
271867    5
271865    5
271864    5
271863    5
         ..
618530    1
618531    1
618532    1
618533    1
624799    1
Name: Unnamed: 0, Length: 624800, dtype: int64

Frequency of Categories for variable year
2020    624800
2019    615395
2018    598003
2017    486105
2016    407789
Name: year, dtype: int64

Frequency of Categories for variable agency_id
HS    329891
AR    276735
HE    228556
TR    216010
AG    185111
NV    179736
AF    132660
IN    130184
DD    128249
DJ    120817
SZ    100310
TD     95918
VA     94707
CM     82146
NN     55961
EP     44009
DL     43310
DN     42757
ST     37424
GS     36197
XX     24960
HU     23324
OM     13571
SE     13355
ED     12819
NU     11242
AM     10316
NQ      8665
SB      7159
EE      6851
DR      5645
NF      4496
NL      4135
CU      3776
IB      3568
FT      2516
FC      2492
BG      2290
FQ      2158
RR      1528
SN      1509
CT      1395
BO      1367
HF       912
SK       712
KS       326
TC       317
Name: agency_id, dtype: int64

Frequency of Categories for variable Q102
4.000000    1172777
5.000000     678670
3.000000     406779
2.000000     316637
1.000000     141940
3.710247      15289
Name: Q102, dtype: int64

Frequency of Categories for variable Q238
4.000000    1060028
3.756616     637965
5.000000     446373
3.000000     291879
2.000000     223369
1.000000      72478
Name: Q238, dtype: int64

Frequency of Categories for variable Q103
4.000000    1012484
5.000000     700936
3.000000     449212
2.000000     350675
1.000000     186404
3.626316      32381
Name: Q103, dtype: int64

Frequency of Categories for variable Q104
4.000000    1146593
5.000000     865157
3.000000     370398
2.000000     210354
1.000000     121519
3.892961      18071
Name: Q104, dtype: int64

Frequency of Categories for variable Q239
4.000000    900569
5.000000    847896
4.165207    641487
3.000000    222495
2.000000     78917
1.000000     40728
Name: Q239, dtype: int64

Frequency of Categories for variable Q105
4.000000    1290961
5.000000     916652
3.000000     274825
2.000000     158162
1.000000      72457
4.039856      19035
Name: Q105, dtype: int64

Frequency of Categories for variable Q240
5.000000    1355157
4.000000     658551
4.585513     635333
3.000000      53464
1.000000      14840
2.000000      14747
Name: Q240, dtype: int64

Frequency of Categories for variable Q241
5.000000    1053986
4.000000     858790
4.390788     633508
3.000000     150701
2.000000      22138
1.000000      12969
Name: Q241, dtype: int64

Frequency of Categories for variable Q242
4.000000    752109
3.109714    642896
2.000000    455862
3.000000    324683
1.000000    295029
5.000000    261513
Name: Q242, dtype: int64

Frequency of Categories for variable Q106
4.000000    1248400
2.000000     412996
3.000000     408049
5.000000     383598
1.000000     255224
3.403266      23825
Name: Q106, dtype: int64

Frequency of Categories for variable Q107
4.000000    1146369
5.000000     529150
3.000000     425240
2.000000     345021
1.000000     229246
3.523792      57066
Name: Q107, dtype: int64

Frequency of Categories for variable Q108
4.000000    1370420
5.000000     951399
3.000000     231419
2.000000      93117
1.000000      59665
4.131097      26072
Name: Q108, dtype: int64

Frequency of Categories for variable Q243
5.000000    1052731
4.000000     829001
4.366518     649965
3.000000     137496
2.000000      36598
1.000000      26301
Name: Q243, dtype: int64

Frequency of Categories for variable Q244
4.000000    892935
3.693968    642452
5.000000    539105
3.000000    281080
2.000000    232039
1.000000    144481
Name: Q244, dtype: int64

Frequency of Categories for variable Q245
4.000000    890994
3.811128    661723
5.000000    607711
3.000000    277297
2.000000    161653
1.000000    132714
Name: Q245, dtype: int64

Frequency of Categories for variable Q246
4.000000    1068559
5.000000     688797
4.104742     647284
3.000000     223040
2.000000      65846
1.000000      38566
Name: Q246, dtype: int64

Frequency of Categories for variable Q109
4.000000    968513
5.000000    787520
3.000000    435385
1.000000    217254
2.000000    208106
3.726443    115314
Name: Q109, dtype: int64

Frequency of Categories for variable Q247
4.000000    800265
3.431524    653626
3.000000    458045
5.000000    361181
2.000000    292232
1.000000    166743
Name: Q247, dtype: int64

Frequency of Categories for variable Q248
4.000000    839390
3.812254    676088
5.000000    638264
3.000000    262957
2.000000    184865
1.000000    130528
Name: Q248, dtype: int64

Frequency of Categories for variable Q110
4.00000    1221148
5.00000     940645
3.00000     296587
2.00000     189295
1.00000      74804
4.01508       9613
Name: Q110, dtype: int64

Frequency of Categories for variable Q249
3.123208    708296
4.000000    683671
3.000000    499201
2.000000    389853
1.000000    236653
5.000000    214418
Name: Q249, dtype: int64

Frequency of Categories for variable Q250
3.032181    780751
4.000000    555006
3.000000    535114
2.000000    318293
1.000000    314943
5.000000    227985
Name: Q250, dtype: int64

Frequency of Categories for variable Q111
3.000000    678689
4.000000    659623
2.000000    459092
1.000000    404486
2.934642    305287
5.000000    224915
Name: Q111, dtype: int64

Frequency of Categories for variable Q113
4.000000    800915
3.000000    690604
2.000000    458507
1.000000    317192
5.000000    275378
3.101778    189496
Name: Q113, dtype: int64

Frequency of Categories for variable Q251
3.203362    779668
4.000000    679435
3.000000    470806
2.000000    281004
1.000000    260935
5.000000    260244
Name: Q251, dtype: int64

Frequency of Categories for variable Q252
4.000000    1033492
3.897233     648972
5.000000     574252
3.000000     251804
2.000000     134191
1.000000      89381
Name: Q252, dtype: int64

Frequency of Categories for variable Q253
4.000000    774411
3.564864    719748
3.000000    541159
5.000000    392669
2.000000    185162
1.000000    118943
Name: Q253, dtype: int64

Frequency of Categories for variable Q254
5.00000    951984
4.00000    833987
4.27295    640079
3.00000    248463
2.00000     40230
1.00000     17349
Name: Q254, dtype: int64

Frequency of Categories for variable Q114
4.000000    1357029
5.000000     743727
3.000000     335863
2.000000     171726
1.000000      65024
3.951125      58723
Name: Q114, dtype: int64

Frequency of Categories for variable Q255
4.000000    748952
3.249645    715095
3.000000    473977
2.000000    356138
5.000000    246645
1.000000    191285
Name: Q255, dtype: int64

Frequency of Categories for variable Q115
4.000000    1068445
3.000000     529140
5.000000     439578
2.000000     376314
1.000000     221872
3.427853      96743
Name: Q115, dtype: int64

Frequency of Categories for variable Q256
3.17991    741460
4.00000    623085
3.00000    544034
2.00000    344747
5.00000    259332
1.00000    219434
Name: Q256, dtype: int64

Frequency of Categories for variable Q257
2.700111    819204
3.000000    549330
2.000000    449191
1.000000    392784
4.000000    382062
5.000000    139521
Name: Q257, dtype: int64

Frequency of Categories for variable Q258
3.594884    821044
4.000000    788235
3.000000    499529
5.000000    364889
2.000000    135629
1.000000    122766
Name: Q258, dtype: int64

Frequency of Categories for variable Q116
4.00000    1331012
5.00000     755818
3.00000     319233
2.00000     144356
1.00000      98715
3.94403      82958
Name: Q116, dtype: int64

Frequency of Categories for variable Q259
4.000000    1103164
3.929183     696951
5.000000     507074
3.000000     258710
2.000000     106093
1.000000      60100
Name: Q259, dtype: int64

Frequency of Categories for variable Q260
3.459832    786561
4.000000    713487
5.000000    408872
3.000000    402621
1.000000    216062
2.000000    204489
Name: Q260, dtype: int64

Frequency of Categories for variable Q261
3.81208    849010
4.00000    796586
5.00000    539959
3.00000    323092
1.00000    123846
2.00000     99599
Name: Q261, dtype: int64

Frequency of Categories for variable Q117
4.000000    1358251
5.000000     714963
3.000000     383885
2.000000     117227
3.958925      89375
1.000000      68391
Name: Q117, dtype: int64

Frequency of Categories for variable Q118
4.000000    1102817
5.000000     740075
3.000000     480544
2.000000     232925
1.000000     128225
3.779857      47506
Name: Q118, dtype: int64

Frequency of Categories for variable Q119
4.000000    705517
3.000000    663290
5.000000    398823
2.000000    389008
1.000000    335909
3.177464    239545
Name: Q119, dtype: int64

Frequency of Categories for variable Q120
5.000000    1260191
4.000000     968817
3.000000     225412
2.000000     108667
1.000000     103974
4.189543      65031
Name: Q120, dtype: int64

Frequency of Categories for variable Q262
4.000000    728588
5.000000    724863
3.866544    687969
3.000000    305835
2.000000    162683
1.000000    122154
Name: Q262, dtype: int64

Frequency of Categories for variable Q263
4.000000    716429
3.788399    703008
5.000000    670919
3.000000    326761
2.000000    171411
1.000000    143564
Name: Q263, dtype: int64

Frequency of Categories for variable Q121
5.00000    951560
4.00000    901426
3.00000    444462
4.00972    243746
1.00000    101116
2.00000     89782
Name: Q121, dtype: int64

Frequency of Categories for variable Q264

4.000000    740208
3.760431    690660
5.000000    631290
3.000000    353668
2.000000    182112
1.000000    134154
Name: Q264, dtype: int64

Frequency of Categories for variable Q122
4.00000    988755
5.00000    946597
3.00000    384466
2.00000    172209
1.00000    149701
3.91241     90364
Name: Q122, dtype: int64

Frequency of Categories for variable Q123
5.000000    1177779
4.000000     981507
3.000000     264852
2.000000     155984
1.000000      93453
4.119914      58517
Name: Q123, dtype: int64

Frequency of Categories for variable Q124
5.000000    1328766
4.000000     938137
3.000000     217782
2.000000     103429
1.000000      82597
4.245753      61381
Name: Q124, dtype: int64

Frequency of Categories for variable Q265
5.00000    852916
4.00000    845769
4.12554    682635
3.00000    166497
2.00000    123695
1.00000     60580
Name: Q265, dtype: int64

Frequency of Categories for variable Q125
5.000000    1136041
4.000000     820904
3.000000     364979
2.000000     187125
1.000000     162322
3.966252      60721
Name: Q125, dtype: int64

Frequency of Categories for variable Q126
5.000000    1245130
4.000000     780158
3.000000     399398
2.000000     141514
1.000000     107209
4.090176      58683
Name: Q126, dtype: int64

Frequency of Categories for variable Q127
4.000000    834805
3.000000    618113
2.000000    431167
5.000000    377975
1.000000    339631
3.184621    130401
Name: Q127, dtype: int64

Frequency of Categories for variable Q128
4.000000    915033
3.000000    570324
5.000000    518954
1.000000    256954
2.000000    236862
3.481229    233965
Name: Q128, dtype: int64

Frequency of Categories for variable Q266
4.000000    887482
3.774542    808752
5.000000    459488
3.000000    362051
2.000000    111888
1.000000    102431
Name: Q266, dtype: int64

Frequency of Categories for variable Q129
4.000000    1207798
5.000000     521416
3.000000     468949
2.000000     245643
1.000000     171518
3.635467     116768
Name: Q129, dtype: int64

Frequency of Categories for variable Q267
4.000000    859154
3.640701    830486
3.000000    406386
5.000000    369927
2.000000    151631
1.000000    114508
Name: Q267, dtype: int64

Frequency of Categories for variable Q130
4.000000    1027885
3.000000     519963
5.000000     479438
2.000000     317026
1.000000     228405
3.471457     159375
Name: Q130, dtype: int64

Frequency of Categories for variable Q268
4.000000    816392
3.540208    775880
3.000000    395461
5.000000    381723
2.000000    202196
1.000000    160440
Name: Q268, dtype: int64

Frequency of Categories for variable Q131
4.000000    881540
5.000000    730884
3.000000    520662
3.715589    225968
2.000000    196123
1.000000    176915
Name: Q131, dtype: int64

Frequency of Categories for variable Q132
4.000000    899830
5.000000    618341
3.000000    582599
2.000000    279200
1.000000    232356
3.533088    119766
Name: Q132, dtype: int64

Frequency of Categories for variable Q133
4.000000    909212
5.000000    594937
3.000000    559764
3.638426    295788
2.000000    201096
1.000000    171295
Name: Q133, dtype: int64

Frequency of Categories for variable Q134
4.000000    1019280
3.000000     566425
5.000000     459520
2.000000     428745
1.000000     165978
3.446077      92144
Name: Q134, dtype: int64

Frequency of Categories for variable Q135
4.000000    1012671
3.000000     568061
2.000000     446476
5.000000     423164
1.000000     185455
3.395175      96265
Name: Q135, dtype: int64

Frequency of Categories for variable Q136
4.000000    965841
3.000000    572877
5.000000    496957
2.000000    386657
1.000000    210815
3.437297     98945
Name: Q136, dtype: int64

Frequency of Categories for variable Q269
3.258982    712473
4.000000    672853
3.000000    576712
2.000000    325896
5.000000    266101
1.000000    178057
Name: Q269, dtype: int64

Frequency of Categories for variable Q270
3.047441    712153
3.000000    556809
4.000000    544726
2.000000    378961
1.000000    287206
5.000000    252237
Name: Q270, dtype: int64

Frequency of Categories for variable Q271
4.000000    809020
3.453326    711624
3.000000    452215
5.000000    336193
2.000000    280605
1.000000    142435
Name: Q271, dtype: int64

Frequency of Categories for variable Q137
4.000000    1192875
5.000000     656979
3.000000     417025
2.000000     247752
1.000000     118188
3.768266      99273
Name: Q137, dtype: int64

Frequency of Categories for variable Q138
4.000000    1155672
5.000000     552199
3.000000     410602
2.000000     345709
1.000000     171405
3.596281      96505
Name: Q138, dtype: int64

Frequency of Categories for variable Q139
4.000000    1142445
5.000000     519042
3.000000     510304
2.000000     308134
1.000000     152753
3.595169      99414
Name: Q139, dtype: int64

Frequency of Categories for variable Q233
2.162163     3815
4.969441     2994
1.669450     2915
5.047841     2914
5.021349     2806
             ...
15.619326       1
5.149737        1
13.413095       1
6.514613        1
3.682753        1
Name: Q233, Length: 130036, dtype: int64

Frequency of Categories for variable Q112
2.604939    2252141
2.000000     225946
5.000000     106151
1.000000      93198
3.000000      44226
4.000000      10430
Name: Q112, dtype: int64

Frequency of Categories for variable Q149
1.527668    2127799
1.000000     424500
3.000000     139073
2.000000      40720
Name: Q149, dtype: int64

Frequency of Categories for variable Q150
1.846687    2132366
1.000000     319324
3.000000     227378
2.000000      53024
Name: Q150, dtype: int64

Frequency of Categories for variable Q151
2.252755    2132044
3.000000     347743
1.000000     196078
2.000000      56227
Name: Q151, dtype: int64

Frequency of Categories for variable Q152
2.171556    2132369
3.000000     320787
1.000000     217901
2.000000      61035
Name: Q152, dtype: int64

Frequency of Categories for variable Q153
2.479909    2128146
3.000000     421176
1.000000     131337
2.000000      51433
Name: Q153, dtype: int64

Frequency of Categories for variable Q154
2.410423    2128619
3.000000     377243
1.000000     129564
2.000000      96666
Name: Q154, dtype: int64

Frequency of Categories for variable Q155
1.740568    2127029
1.000000     330105
3.000000     173132
2.000000     101826
Name: Q155, dtype: int64

Frequency of Categories for variable Q156
2.035543    2129334
3.000000     280781
1.000000     259357
2.000000      62620
Name: Q156, dtype: int64

Frequency of Categories for variable Q157
1.851679    2126547
1.000000     327320
3.000000     237505
2.000000      40720
Name: Q157, dtype: int64

Frequency of Categories for variable Q158
1.827142    2126229
1.000000     333480
3.000000     228752
2.000000      43631
Name: Q158, dtype: int64

Frequency of Categories for variable Q159
2.261473    2128435
3.000000     347774
1.000000     189934
2.000000      65949
Name: Q159, dtype: int64

Frequency of Categories for variable Q160
1.732019    2127050
1.000000     369104
3.000000     206964
2.000000      28974
Name: Q160, dtype: int64

Frequency of Categories for variable Q161
1.770905    2126735
1.000000     347747
3.000000     209063
2.000000      48547
Name: Q161, dtype: int64

Frequency of Categories for variable Q162
1.782869    2127922
1.000000     331038
3.000000     199854
2.000000      73278
Name: Q162, dtype: int64

Frequency of Categories for variable Q163
4.207846    2133263
5.000000     295522
4.000000     202986
3.000000      51639
2.000000      26627
1.000000      22055
Name: Q163, dtype: int64

Frequency of Categories for variable Q164
4.22898    2135275
5.00000     294440
4.00000     207960
3.00000      50596
2.00000      24278
1.00000      19543
Name: Q164, dtype: int64

Frequency of Categories for variable Q165
4.076362    2132855
5.000000     264155
4.000000     206162
3.000000      65738
2.000000      36888
1.000000      26294
Name: Q165, dtype: int64

Frequency of Categories for variable Q166
4.331641    2131328
5.000000     332764
4.000000     184905
3.000000      48493
2.000000      18773
1.000000      15829
Name: Q166, dtype: int64

Frequency of Categories for variable Q167
4.365501    2134862
5.000000     336625
4.000000     184403
3.000000      47572
2.000000      15125
1.000000      13505
Name: Q167, dtype: int64

Frequency of Categories for variable Q168
4.246182    2138345
5.000000     315908
4.000000     171419
3.000000      63006
2.000000      23510
1.000000      19904
Name: Q168, dtype: int64

Frequency of Categories for variable Q169
1.302984    2136223
1.000000     465717
2.000000      79765
3.000000      50387
Name: Q169, dtype: int64

Frequency of Categories for variable Q170
1.852955    2137315
1.000000     302978
3.000000     215519
2.000000      76280
Name: Q170, dtype: int64

Frequency of Categories for variable Q171

2.094468    2135645
3.000000     282164
1.000000     225819
2.000000      88464
Name: Q171, dtype: int64

Frequency of Categories for variable Q172
2.618699    2134035
3.000000     465178
1.000000      95161
2.000000      37718
Name: Q172, dtype: int64

Frequency of Categories for variable Q173
2.515527    2137192
3.000000     429483
1.000000     122796
2.000000      42621
Name: Q173, dtype: int64

Frequency of Categories for variable Q174
1.594428    2135547
1.000000     396587
3.000000     154645
2.000000      45313
Name: Q174, dtype: int64

Frequency of Categories for variable Q175
1.979465    2134866
1.000000     279211
3.000000     266947
2.000000      51068
Name: Q175, dtype: int64

Frequency of Categories for variable Q176
1.559062    2133344
1.000000     398390
3.000000     134379
2.000000      65979
Name: Q176, dtype: int64

Frequency of Categories for variable Q177
1.424233    2133206
1.000000     453707
3.000000     108888
2.000000      36291
Name: Q177, dtype: int64

Frequency of Categories for variable Q178
1.78362    2135382
1.00000     325238
3.00000     196122
2.00000      75350
Name: Q178, dtype: int64

Frequency of Categories for variable Q179
1.720728    2134238
1.000000     341187
3.000000     174223
2.000000      82444
Name: Q179, dtype: int64

Frequency of Categories for variable Q180
1.618641    2136331
1.000000     391214
3.000000     164015
2.000000      40532
Name: Q180, dtype: int64

Frequency of Categories for variable Q181
1.867752    2144221
2.000000     400504
1.000000     132556
3.000000      54811
Name: Q181, dtype: int64

Frequency of Categories for variable Q182
3.464301    2134622
3.000000     177242
5.000000     157070
4.000000     136781
2.000000      79239
1.000000      47138
Name: Q182, dtype: int64

Frequency of Categories for variable Q183
2.426593    2140068
3.000000     249154
2.000000     184130
1.000000     109178
4.000000      36109
5.000000      13453
Name: Q183, dtype: int64

Frequency of Categories for variable Q184
4.530187    2154586
5.000000     341150
4.000000     208091
3.000000      22951
2.000000       3929
1.000000       1385
Name: Q184, dtype: int64

Frequency of Categories for variable Q185
4.580868    2152181
5.000000     378131
4.000000     169432
3.000000      25347
2.000000       5071
1.000000       1930
Name: Q185, dtype: int64

Frequency of Categories for variable Q186
4.550857    2147977
5.000000     369783
4.000000     175592
3.000000      31265
2.000000       5671
1.000000       1804
Name: Q186, dtype: int64

Frequency of Categories for variable Q187
4.504837    2148028
5.000000     360319
4.000000     172962
3.000000      38778
2.000000       9331
1.000000       2674
Name: Q187, dtype: int64

Frequency of Categories for variable Q188
4.420225    2146504
5.000000     340265
4.000000     175035
3.000000      50729
2.000000      15220
1.000000       4339
Name: Q188, dtype: int64

Frequency of Categories for variable Q189
4.491922    2151358
5.000000     336351
4.000000     203331
3.000000      33381
2.000000       5719
1.000000       1952
Name: Q189, dtype: int64

Frequency of Categories for variable Q190
4.317212    2159017
5.000000     275832
4.000000     222407
3.000000      58726
2.000000      13010
1.000000       3100
Name: Q190, dtype: int64

Frequency of Categories for variable Q191
4.443532    2154907
5.000000     335532
4.000000     180217
3.000000      46575
2.000000      11626
1.000000       3235
Name: Q191, dtype: int64

Frequency of Categories for variable Q192
4.429528    2151520
5.000000     332690
4.000000     182054
3.000000      51255
2.000000      11656
1.000000       2917
Name: Q192, dtype: int64

Frequency of Categories for variable Q193
4.427489    2148912
5.000000     339270
4.000000     174685
3.000000      52161
2.000000      13386
1.000000       3678
Name: Q193, dtype: int64

Frequency of Categories for variable Q194
4.309225    2149070
5.000000     308989
4.000000     178241
3.000000      68478
2.000000      21716
1.000000       5598
Name: Q194, dtype: int64

Frequency of Categories for variable Q195
4.345819    2155212
5.000000     295860
4.000000     204627
3.000000      59851
2.000000      13113
1.000000       3429
Name: Q195, dtype: int64

Frequency of Categories for variable Q196
4.047382    2209535
5.000000     225395
4.000000     174043
3.000000      68736
2.000000      31250
1.000000      23133
Name: Q196, dtype: int64

Frequency of Categories for variable Q197
4.005058    2145672
5.000000     227380
4.000000     216919
3.000000      84552
2.000000      32845
1.000000      24724
Name: Q197, dtype: int64

Frequency of Categories for variable Q198
4.152051    2219364
5.000000     237772
4.000000     177140
3.000000      51858
2.000000      29921
1.000000      16037
Name: Q198, dtype: int64

Frequency of Categories for variable Q199
0.502634    2137369
1.000000     298928
0.000000     295795
Name: Q199, dtype: int64

Frequency of Categories for variable Q200
0.198262    2137369
0.000000     476812
1.000000     117911
Name: Q200, dtype: int64

Frequency of Categories for variable Q201
0.059433    2137369
0.000000     559377
1.000000      35346
Name: Q201, dtype: int64

Frequency of Categories for variable Q202
0.029901    2137369
0.000000     576940
1.000000      17783
Name: Q202, dtype: int64

Frequency of Categories for variable Q203
0.005777    2137369
0.000000     591287
1.000000       3436
Name: Q203, dtype: int64

Frequency of Categories for variable Q204
0.398828    2137369
0.000000     357531
1.000000     237192
Name: Q204, dtype: int64

Frequency of Categories for variable Q205
4.295265    2311324
5.000000     217065
4.000000     137405
3.000000      46882
2.000000      12303
1.000000       7113
Name: Q205, dtype: int64

Frequency of Categories for variable Q206
3.818542    2365440
4.000000     143643
5.000000      98295
3.000000      94410
2.000000      20495
1.000000       9809
Name: Q206, dtype: int64

Frequency of Categories for variable Q207
3.649483    2461209
3.000000     112503
4.000000      87498
5.000000      55132
2.000000       9672
1.000000       6078
Name: Q207, dtype: int64

Frequency of Categories for variable Q208
3.449759    2557952
3.000000      95120
4.000000      39036
5.000000      28128
2.000000       6741
1.000000       5115
Name: Q208, dtype: int64

Frequency of Categories for variable Q209
3.360944    2591242
3.000000      91973
4.000000      23385
5.000000      18681
2.000000       3714
1.000000       3097
Name: Q209, dtype: int64

Frequency of Categories for variable Q210
0.619939    2140185
1.000000     366946
0.000000     224961
Name: Q210, dtype: int64

Frequency of Categories for variable Q211
0.113536    2140185
0.000000     524704
1.000000      67203
Name: Q211, dtype: int64

Frequency of Categories for variable Q212
0.108948    2140185
0.000000     527420
1.000000      64487
Name: Q212, dtype: int64

Frequency of Categories for variable Q213
0.130453    2140185
0.000000     514691
1.000000      77216
Name: Q213, dtype: int64

Frequency of Categories for variable Q214
0.210161    2140185
0.000000     467511
1.000000     124396
Name: Q214, dtype: int64

Frequency of Categories for variable Q215
0.817123    2142079
1.000000     482113
0.000000     107900
Name: Q215, dtype: int64

Frequency of Categories for variable Q216
0.08583    2142079
0.00000     539372
1.00000      50641
Name: Q216, dtype: int64

Frequency of Categories for variable Q217
0.055382    2142079
0.000000     557337
1.000000      32676
Name: Q217, dtype: int64

Frequency of Categories for variable Q218
0.040491    2142079
0.000000     566123
1.000000      23890
Name: Q218, dtype: int64

Frequency of Categories for variable Q219
0.032767    2142079
0.000000     570680
1.000000      19333
Name: Q219, dtype: int64

Frequency of Categories for variable Q220
2.957074    2494893
3.000000      62481
1.000000      52238
5.000000      44058
4.000000      42300
2.000000      36122
Name: Q220, dtype: int64

Frequency of Categories for variable Q221
2.845772    2581069
1.000000      40097
3.000000      35350
5.000000      30000
2.000000      24337
4.000000      21239
Name: Q221, dtype: int64

Frequency of Categories for variable Q284
3.61683    2152180
4.00000     419141
3.00000     107728
2.00000      44652
1.00000       8391
Name: Q284, dtype: int64

Frequency of Categories for variable StayorGo
Stay        1736122
Transfer     442466
Retire       278698
NaN          176148
Leave         98658
Name: StayorGo, dtype: int64

Frequency of Categories for variable Q222_A
0    2655255
1      76837
Name: Q222_A, dtype: int64

Frequency of Categories for variable Q222_B
0    2342103
1     389989
Name: Q222_B, dtype: int64

Frequency of Categories for variable Q222_C
0    2701838
1      30254
Name: Q222_C, dtype: int64

Frequency of Categories for variable Q222_D
0    2697194
1      34898
Name: Q222_D, dtype: int64

Frequency of Categories for variable Q223_A
0    2675191
1      56901
Name: Q223_A, dtype: int64

Frequency of Categories for variable Q223_B
0    2232355
1     499737
Name: Q223_B, dtype: int64

Frequency of Categories for variable Q224_A
0    2649136
1      82956
Name: Q224_A, dtype: int64

Frequency of Categories for variable Q224_B
0    2251484
1     480608
Name: Q224_B, dtype: int64

Frequency of Categories for variable Q225_A
0    2516287
1     215805
Name: Q225_A, dtype: int64

Frequency of Categories for variable Q225_B
0    1989578
1     742514
Name: Q225_B, dtype: int64

Frequency of Categories for variable Q226_A
1    1950923
0     781169
Name: Q226_A, dtype: int64

Frequency of Categories for variable Q226_B
0    2231685
1     500407
Name: Q226_B, dtype: int64

Frequency of Categories for variable Q227_A
0    1902879
1     829213
Name: Q227_A, dtype: int64

Frequency of Categories for variable Q227_B
0    2061929
1     670163
Name: Q227_B, dtype: int64

Frequency of Categories for variable Q227_C
0    2177240
1     554852
Name: Q227_C, dtype: int64

Frequency of Categories for variable Q228_A
0    1436853
1    1295239
Name: Q228_A, dtype: int64

Frequency of Categories for variable Q228_B
0    1647080
1    1085012
Name: Q228_B, dtype: int64

Frequency of Categories for variable Q229_A
0    2558166
1     173926
Name: Q229_A, dtype: int64

Frequency of Categories for variable Q229_B
0    2320744
1     411348
Name: Q229_B, dtype: int64

Frequency of Categories for variable Q235_A
0    2319306
1     412786
Name: Q235_A, dtype: int64

Frequency of Categories for variable Q235_B
0    2228815
1     503277
Name: Q235_B, dtype: int64

Frequency of Categories for variable Q235_C
0    2199251
1     532841
Name: Q235_C, dtype: int64

Frequency of Categories for variable Q236_A

0    1985273
1     746819
Name: Q236_A, dtype: int64

Frequency of Categories for variable Q236_B
1    1598162
0    1133930
Name: Q236_B, dtype: int64

In [58]:
FEVS5year4.head()

,Unnamed: 0,year,agency_id,Q102,Q238,Q103,Q104,Q239,Q105,Q240,...,Q227_C,Q228_A,Q228_B,Q229_A,Q229_B,Q235_A,Q235_B,Q235_C,Q236_A,Q236_B
0,0,2016,TR,5.000000,4.0,2.0,4.0,5.0,4.000000,4.585513,...,0,0,1,0,0,0,0,0,1,0
1,1,2016,AF,3.710247,3.0,3.0,3.0,1.0,4.039856,5.000000,...,0,1,0,0,0,0,0,0,0,1
2,2,2016,TR,5.000000,5.0,5.0,5.0,5.0,4.000000,4.000000,...,0,1,0,0,0,0,0,0,0,1
3,3,2016,TR,3.000000,4.0,4.0,4.0,4.0,4.000000,4.000000,...,0,1,0,0,0,0,0,0,0,1
4,4,2016,HE,5.000000,5.0,5.0,5.0,5.0,5.000000,5.000000,...,0,0,1,0,0,0,0,0,0,1

In [61]:
FEVS5year4 = FEVS5year4.drop(columns=['Unnamed: 0'])

### Success! We have 173 numeric columns (172 + 1 "extra" column) with no NaN values in our dataframe of 175 columns.

somehow we added an "extra" Unnamed column at the start

## Save the FEVS5Year4 dataframe to a new CSV file.

In [51]:
# save out a csv file to the local folder:
FEVS5year4.to_csv("FEVS5year4.csv", encoding='utf-8')